.App {
  font-family: sans-serif;
  text-align: center;
}
.background {
  background-color: blue;
  height: 50px;
  width: 50px;
  display: inline-block;
}

.clear {
  background-color: white;
  border-radius: 50px;
  width: 50px;
  height: 50px;
}
.red {
  background-color: red;
}
.yellow {
  background-color: yellow;
}
